@font-face {
    font-family: Robot;
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Robot;
    src: url(fonts/Roboto-Bold.ttf);
    font-weight: bold;
}


body {
    padding: 0;
    margin: 0;
    font-family: Robot;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(1, 18vw) repeat(1, 82vw);
    grid-template-rows: repeat(1, 20vh) repeat(1, 80vh);
}

.header {
    background-color: #86efac;
    grid-area: 1 / 2 / 1 / -1;
}

.sidebar {
    background-color: #65a30d;
    grid-area: 1 / 1 / -1 / 1;
    padding: 8px;
}

.main-page {
    background-color: #ecfccb;
    grid-area: 2 / 2 / -1 / -1;

}

.sidebar {
    display: grid;
    grid-template-rows: 120px;
}

.dashboard {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    color: white;
    font-size: xx-large;
    margin: auto;
    grid-row: 1 / 1;
    padding: 0;
    font-weight: bold;
}

.dashboard > img {
    height: 70px;
    width: auto;
}

.sidebar-bt {
    grid-row: 2 / -1;
    display: grid;
    grid-template-rows: repeat(auto-fit, 50px);
    padding-left: 40px;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: large;
}

.side-btns {
    display: flex;
    align-items: center;
    gap: 5px;
}

.side-btns > img {
    height: 30px;
    width: auto;
    fill: white;
}
