@font-face {
    font-family: Robot;
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Robot;
    src: url(fonts/Roboto-Bold.ttf);
    font-weight: bold;
}


body {
    padding: 0;
    margin: 0;
    font-family: Robot;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr) repeat(1, 5fr);
    grid-template-rows: repeat(1, 1fr) repeat(1, 4fr);
}

.header {
    background-color: #a2a974;
    grid-area: 1 / 2 / 1 / -1;
}

.sidebar {
    background-color: #5b7553;
    grid-area: 1 / 1 / -1 / 1;
    padding: 8px;
}

.main-page {
    background-color: #c9d2b6;
    grid-area: 2 / 2 / -1 / -1;

}

.sidebar {
    display: grid;
    grid-template-rows: 120px;
}

.dashboard {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    color: #f4fdff;
    font-size: xx-large;
    margin: auto;
    grid-row: 1 / 1;
    padding: 0;
    font-weight: bold;
}

.dashboard > img {
    height: 70px;
    width: auto;
}

.sidebar-bt {
    grid-row: 2 / -1;
    display: grid;
    grid-template-rows: repeat(auto-fit, 50px);
    padding-left: 40px;
    align-items: center;
    color: #f4fdff;
    font-weight: bold;
    font-size: large;
}

.side-btns {
    display: flex;
    align-items: center;
    gap: 5px;
}

img {
    height: 30px;
    width: auto;
}

.header {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
    padding: 8px;
}

.first-h-row {
    grid-template-rows: 1 / 1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-flow: column;
}

.part-1 {
    display: grid;
    grid-template-columns: 40px, auto;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.part-1 > input {
    height: 30px;
    width: 600px;
    border-radius: 20px;
    background-color: transparent;
    border: solid 1px black;
    padding-left: 6px;
}

input:focus {
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px black;
    border-radius: 0;
}

.part-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.pfp {
    height: 50px;
    width: 50px;
    border: solid 2px black;
    border-radius: 50%;
}

.part-2 > img {
    justify-self: end;
}

.second-h-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.part-3 {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.second-pfp {
    height: 80px;
    width: 80px;
    border: solid 2px black;
    border-radius: 50%;
    grid-area: 1 / 1 / -1 / 1;
    justify-self: self-end;
}

.greetings {
    align-self: self-end;
}

.big-name {
    align-self: self-start;
    font-weight: bold;
    font-size: x-large;
    
}

.part-4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

.interact-btn {
    width: 100px;
    height: 40px;
    border-radius: 30px;
    background-color: #5b7553;
    text-align: center;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.main-page {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 8px;
}

.all-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    padding: 8px;
}

.project-con {
    width: 400px;
    height: 200px;
    border: solid 2px black;
    border-radius: 20px;
    align-self: center;
    justify-self: center;
    background-color: #a2a974;
}

.news {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.ann-box, .tren-box{
    height: 300px;
    width: 300px;
    border: solid 2px black;
    border-radius: 20px;
    background-color: #a2a974;
}

.project-con {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: xx-large;
    padding: 6px;
}

.project-btn {
    align-self: end;
    justify-self: end;
    grid-area: 2 / 3 / 2 / 3;
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
}

.project-name {
    grid-area: 1 / 1 / 1 / -1;
    text-align: center;
}
